@import './components/styles/variables';

html {
  font-size: clamp(12px, 1.2vw, 16px);

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow: hidden;
  height: 100%;

  font: $body-reg-font;
  padding: 0;
  margin: 0;
  background-color: map-get($colors, 'black');
}

div {
  color: map-get($colors, 'white');
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

iframe {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-height: 500px) {
  html {
    font-size: 12px;
  }
}